@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

*{
  box-sizing: border-box;
}

html {
  height: 100%;
}

 body {
  background-color: #E5E5E5;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Montserrat', sans-serif;
}

.active a {
  color: #A81573;
}

h1 {

  font-weight: 600;
  color: #FFFFFF;
  background: #154194;
  padding: 1rem;
  margin: 0 0 .4rem 0;
  text-align: center;
}

p{
  text-indent: 1rem;
}

.homepage p {

  color: rgb(138, 27, 27);
  font-size: .9rem;
  background: #A81573;
  padding: .5rem;
  margin: 0;
  text-align: center;
  
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  height: 100%;
  text-align: left;
  background: #14ADE5;
  padding-top: 3em;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
}

nav ul li a:hover {
  color: #154194;
}

.exit-btn {
  margin-bottom: 1rem;
  margin-top: -1.2rem;
  text-align: right;
  padding: 0 1.4rem;

}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}




header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.hide-mobile {
  display: none;
}


.logo img {
  width: 96px;
}

.menu {
  width: 25px;
}

.images {
  margin-top: 30%;
}


.images li {
  margin-top: .2rem;
}

/* About */

.content {
  margin: 4rem 1rem 0 1rem;
}

.content p {
  font-weight: 400;
  line-height: 1.65rem;
  color: #484848;
}

.baner img {
  width: 100%;
}

.btn {
  text-align: center;
  background-color: #14ADE5;
  width: 18rem;
  display: block;
  color: #fff;
  border-radius: 20px;
  padding: .7rem;
  text-decoration: none;
  margin: auto;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.btn:hover {
  background-color: #154194;
}

footer {
  text-align: center;
  padding: .5rem;
  color: #fff;
  background-color: rgb(73, 68, 70);
  font-size: .6rem;


}

.content ul li {
  margin-bottom: 1rem;
}

/* Workshops */

.event{
  font-weight: 600;
 list-style: circle;

 padding-bottom: 5rem;
}

.event p{
  text-indent: 1.8rem;
}

.event ul{
  list-style: circle;
  text-indent: 2rem;
  padding-bottom: 2rem;
}

.facebook i{  
  color: #484848;
  
}

.facebook i:hover {
  color: #14ADE5;
}



/* Contact */

.contact{
  text-align: center;
  margin: 1rem;

}
.contact a{
  text-decoration: none;
  color: #484848;
  
}

.contact a:hover {
  color: #14ADE5;
}

.contact i{
  margin-right: .5rem;
}

.time {
  font-weight: 600;
}

.content span, ul li{
  font-weight: 600;
}

/* media query */

@media only screen and (max-width: 320px) {


  
  .btn{
    width: 15rem;
  }

  
}

@media only screen and (min-width: 650px) {


  .homepage p {
    padding: 1rem;
  }

  .content {
    margin-top: 5%;
  }

  

}

@media only screen and (min-width: 1024px) {

  

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: rgb(34, 33, 33, 0.9);
    text-align: left;
    padding: 1rem 2rem;
    width:auto ;
  }


  nav ul li a:hover {
    color: #14ADE5;
  }

  .logo img {
    width: 96px;
  }

  header {
    margin: .5rem;
  }

  .logo img {
    padding-top: 1rem;
  }

  .content {
    margin: 2rem 10rem 0 10rem;
  }

  .content p {
    font-weight: 400;
    line-height: 1.7rem;
  }

  footer {
    padding: 1.5rem;
  }

  .baner img {
    width: 80%;
  }

  .baner {
    text-align: center;
  }

  .content {
    margin: 4rem 15rem 0 15rem;
  }

  .btn {
    width: 10rem;
  }
}


@media only screen and (min-width: 1600px) {

  nav ul li a:hover {
    color: #14ADE5;
  }

  .baner img {
    width: 52%;
  }


  .content {
    margin: 4rem 20rem 0 20rem;
  }

  .btn {
    width: 10rem;
  }
}